@model DiscussionFleet.Web.Models.QuestionWithRelated.QuestionStatsViewModel;

@{
    var voteTextClass = Model.VoteCount > 0 ? "text-dark" : "text-muted";
    var answerTextClass = Model.AnswerCount > 0 ? "text-green" : "text-muted";
    var acceptedAnswerClass = Model.HasAcceptedAnswer ? "bg-teal text-teal-fg" : "badge-outline";
}

<div class="d-flex flex-md-column gap-2">


    <div class="badge badge-outline text-muted border fw-normal d-flex" data-bs-toggle="tooltip"
         data-bs-placement="top" title="Total votes">
        <span class="text-yellow">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 viewBox="0 0 24 24" fill="currentColor"
                 class="icon icon-tabler icons-tabler-filled icon-tabler-rosette">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path
                    d="M12.01 2.011a3.2 3.2 0 0 1 2.113 .797l.154 .145l.698 .698a1.2 1.2 0 0 0 .71 .341l.135 .008h1a3.2 3.2 0 0 1 3.195 3.018l.005 .182v1c0 .27 .092 .533 .258 .743l.09 .1l.697 .698a3.2 3.2 0 0 1 .147 4.382l-.145 .154l-.698 .698a1.2 1.2 0 0 0 -.341 .71l-.008 .135v1a3.2 3.2 0 0 1 -3.018 3.195l-.182 .005h-1a1.2 1.2 0 0 0 -.743 .258l-.1 .09l-.698 .697a3.2 3.2 0 0 1 -4.382 .147l-.154 -.145l-.698 -.698a1.2 1.2 0 0 0 -.71 -.341l-.135 -.008h-1a3.2 3.2 0 0 1 -3.195 -3.018l-.005 -.182v-1a1.2 1.2 0 0 0 -.258 -.743l-.09 -.1l-.697 -.698a3.2 3.2 0 0 1 -.147 -4.382l.145 -.154l.698 -.698a1.2 1.2 0 0 0 .341 -.71l.008 -.135v-1l.005 -.182a3.2 3.2 0 0 1 3.013 -3.013l.182 -.005h1a1.2 1.2 0 0 0 .743 -.258l.1 -.09l.698 -.697a3.2 3.2 0 0 1 2.269 -.944z"/>
            </svg>
        </span>
        <span class="text-dark">@Model.VoteCount</span>
    </div>

    <div class="badge badge-outline text-muted border fw-normal d-flex" data-bs-toggle="tooltip"
         data-bs-placement="bottom" title="Total answers">
        <span class="text-azure">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-pagekit">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12.077 20h-5.077v-16h11v14h-5.077"/>
            </svg>
        </span>
        <span class="text-dark">@Model.AnswerCount</span>
    </div>


    @* <span class="@voteTextClass badge badge-outline">@Model.VoteCount</span> *@
    @* <span class="@answerTextClass badge @acceptedAnswerClass">@Model.AnswerCount</span> *@
</div>